@use "../../styles/variables/mixins" as *;
@use "../../styles/variables/colores" as *;

.transmisiones{
    max-width: $maxWidth;
    padding: $padding_top_navbar 25px 80px;
    margin: 0 auto;

    //Transmisiones
    .gridTransmisiones{
        margin-bottom: 30px;
        @media only screen and (min-width: $escritorio){
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 3rem;
            grid-gap: 3rem;
        }
    } 
}