@use "../../styles/variables/mixins" as *;
@use "../../styles/variables/colores" as *;

.navbarScroll{
    background-color: white;
    box-shadow: 0 8px 34px -17px rgba(32, 54, 122, 0.3);
    .linksEscritorio{
        li::after{
            background-color: #041031 !important;
        }
    }
}

.navbar{
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    transition: .2s;
    
    .innerNav{
        max-width: $maxWidth;
        margin: 0 auto;
        padding: 10px 25px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        //Logo
        .logo{
            position: relative;
            width: 50px;
            z-index: 2;
        }

        //Boton menu - Celular
        .btnMenu{
            position: relative;
            display: block;
            z-index: 2;

            @media only screen and (min-width: $celularNormalLandscape){
                display: none;
            }

            input{
                position: absolute;
                display: block;
                width: 33px;
                height: 22px;
                right: 0;

                z-index: 2;
                opacity: 0;
                cursor: pointer;
            }
            span{
                display: block;
                background-color: white;
                width: 33px;
                height: 4px;
                border-radius: 3px;
        
                &:not(:last-of-type){
                    margin-bottom: 5px;
                }
                transition: .2s;      
            }
            //Color del boton cuando se scrollea y cambia de color el nav
            .span_navbarScroll{
                background-color: #041031;
            }
            //ANIMACION MENU EN CELULAR
            span:nth-last-child(3){
                transform-origin: 100% 0;
            }
            span:last-child{
                transform-origin: 100% 100%;
            }
            input:checked ~span:nth-last-child(3){ //Barra arriba
                transform: rotate(-45deg) translate( 1px , -3px );
                background-color: white;
            }
            input:checked ~span:nth-last-child(2){ //Barra medio
                opacity: 0;
                transform:  scale(0.1);
                background-color: white;
            }
            input:checked ~span:nth-last-child(1){  //Barra abajo
                transform: rotate(45deg) translate( 0 , 2px );
                background-color: white;
            }
            &:focus{
                outline: 2px solid black;
            }
        }

        //Links
        ul{
            display: flex;
            li{
                list-style-type: none;
                a{
                    color: #E0E6F9;
                    text-decoration: none;
                }
            }
        }
        //-Links escritorio
        .linksEscritorio{
            justify-content: space-between;
            @media only screen and (max-width: $celularNormalLandscape){
                display: none;
            }

            li{
                position: relative;
                margin-left: 40px;
                font-size: 1.2rem;
                &::after{
                    content: '';
                    position: absolute;
                    background-color: white;
                    left: 0;
                    bottom: -8px;
                    width: 100%;
                    height: 3px;
                    transform: scaleX(0);
                    transition: transform 0.2s;
                }
                &:hover{
                    &::after{
                        transform: scaleX(1);
                    }
                }
            }
        }
        //Links-escritorio cuando se scrollea y cambia de color el nav
        .links_navbarScroll{
            li a{
                color: #041031;
            }
        }

        //-Links celular
        .linksCelular{
            position: fixed;
            flex-direction: column;
            justify-content: center;
            top: 0;
            right: 0;
            background: $gradient_azul;
            padding: 40px;

            width: 100%;
            height: 100%;

            clip-path: circle(0% at 100% 0);
            transition: .3s ease-out;

            li{
                text-align: center;
                padding: 30px 0;
                font-size: 1.6rem;
            }

            @media only screen and (min-width: $celularNormalLandscape){
                display: none;
            }
        }
        //Menu del nav cuando esta abierto
        .menuAbierto{
            clip-path: circle(100% at 50% 50%);
        }
    }
}