@use "../styles/variables/mixins" as *;
@use "../styles/variables/colores" as *;

.inicio{
    .stream_programas_container{
        background: $gradient_azul;
        padding: $padding_top_navbar 0 80px;
        margin-bottom: 80px;

        .stream_programas{
            margin: 0 auto;
            padding: 0 25px;
            max-width: $maxWidth;

            @media only screen and (min-width: $escritorio){
                display: grid;
                grid-template-columns: 1fr 35%;                
                grid-gap: 100px;
                gap: 100px;
            }
            
            //Stream
            .stream{
                h1{
                    @include h1(#EAEEFF);
                }
        
                .reproductor{
                    background-color: #202020;
                    width: 100%;
                    height: 0;
                    padding-top: 56.25%;
                    border-radius: 5px;
                    position: relative;
                    cursor: pointer;
                    
                    @include botonPlay;
                    //Video
                    .video{
                        background-color: #202020;
                        top: 0;
                        position: absolute;
                        width: 100%!important;
                        height: 100%!important;
                        border-radius: 5px;
                        iframe, video{
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }

    section:not(:nth-of-type(1)){
        padding: 0 25px;
    }
}