@use "../../styles/variables/mixins" as *;
@use "../../styles/variables/colores" as *;

.horarios{
    
    max-width: $maxWidth;
    padding: $padding_top_navbar 0 0;
    margin: 0 auto;

    //Swiper dias
    .dias{
        padding: 0 25px;
        //Titulo horarios
        .titulo{
            font-size: 1.9rem;
            padding-bottom: 10px;
            border-bottom: 1px solid black;
            font-weight: 500;
            @media only screen and (min-width: $celularChicoLandscape){
                font-size: 2.1rem;
            }
            @media only screen and (min-width: $escritorio){
                font-size: 2.4rem;
            }
        }

        //Swiper
        .swiperDias{
            padding-top: .5rem;
            .swiperSlide{
                width: fit-content;
                h2{
                    font-weight: 400;
                    cursor: pointer;
                    @media only screen and (min-width: $celularChicoLandscape){
                        font-size: 1.6rem;
                    }
                    @media only screen and (min-width: $escritorio){
                        font-size: 1.9rem;
                    }
                }
                .diaActivo{
                    color: $clr_azul;
                    border-bottom: solid 3px $clr_azul;
                    padding-bottom: 5px;
                }
            }
        }
    }

    //Programas
    .programas{
        max-width: $maxWidth;
        padding: 0 25px;
        margin: 0 auto 80px;

        // programa
        .programa{
            display: grid;
            grid-template-columns: 4rem 1fr;
            grid-auto-rows: 1fr;
            width: 100%;
            padding: 40px 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);

            &:last-of-type{
                border-bottom: none;
                padding-bottom: 0;
            }
            @media only screen and (min-width: $tablet){
                grid-template-columns: 9rem 1fr;
            }
            @media only screen and (min-width: $escritorio){
                grid-template-columns: 10rem 1fr;
            }

            //Hora
            .hora{
                display: flex;
                flex-direction: column;
                padding-right: 17px;
                font-weight: 400;
                font-size: 1.1rem;
                @media only screen and (min-width: $celularChicoLandscape){
                    font-size: 1.2rem;
                }
                @media only screen and (min-width: $tablet){
                    flex-direction: row;
                }
                @media only screen and (min-width: $escritorio){
                    font-size: 1.5rem;
                }
                
                .separador{
                    text-align: center;
                    @media only screen and (min-width: $tablet){
                        padding: 0 .5rem;
                    }
                }
            }

            //Info programa
            .info{
                padding-left: 17px;
                border-left: 1px solid rgba(0, 0, 0, 0.2);

                //Nombre
                .nombre{
                    padding-bottom: .5rem;
                    line-height: 1.6rem;
                    font-weight: 400;
                    font-size: 1.4rem;
                    @media only screen and (min-width: $celularChicoLandscape){
                        font-size: 1.5rem;
                    }
                    @media only screen and (min-width: $escritorio){
                        font-size: 1.8rem;
                    }
                }

                //Descripcion
                .descripcion{
                    font-size: 1rem;
                    font-weight: 300;
                    padding-bottom: 30px;
                    @media only screen and (min-width: $celularChicoLandscape){
                        font-size: 1.2rem;
                    }
                    @media only screen and (min-width: $escritorio){
                        font-size: 1.4rem;
                    }
                }
                
                //Boton ver programa
                .btnVerPrograma{
                    display: flex;
                    align-items: center;
                    
                    text-decoration: none;
                    color: $clr_azul;
                    flex-shrink: 0;
                    transition: .2s ease-in-out;

                    @media only screen and (min-width: $celularMediano){
                        font-size: 1.25rem;
                    }

                    svg{
                        margin-left: 5px;
                        fill: lighten($clr_azul, 10%);
                        width: 1.5rem;
                        height: auto;
                        opacity: 0;
                        transition: .2s ease-in-out;
                        transform: translate(-25px , 1px);
                    }
                    &:hover,
                    &:focus{
                        svg{
                            opacity: 1;
                            transform: translate(0, 1px);
                        }
                    }
                }
            }
        }
    }

    section{
        padding: 0 25px;
    }
}